<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-form v-if="editing">
          <v-layout row wrap>
            <v-flex xs12>
              <v-text-field label="title" v-model="title"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="keywords" v-model="keywords"></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
        <div v-if="editing">
          <v-toolbar style="margin-bottom:2em">
            <v-btn @click="save" color="success">Shrani</v-btn>
            <v-btn @click="stopediting()">preklic</v-btn>
            <v-spacer></v-spacer>
            <v-btn v-if="status && status==='draft'" @click="remove" >zbriši</v-btn>
            <v-btn v-if="status && status==='draft'" @click="publish" color="red">objavi</v-btn>
            <v-btn
              color="blue-grey lighten-4"
              @click="hprev"
              v-if="archives && archives.length>0"
              :disabled="prevarch.length===0"
              title="prejšnja različica"
            >
              <v-icon dark>undo</v-icon>
            </v-btn>
            <v-btn
              color="blue-grey lighten-4"
              @click="hnext"
              v-if="archives && archives.length>0"
              :disabled="nextarch.length===0"
              title="naslednja različica"
            >
              <v-icon dark>redo</v-icon>
            </v-btn>
          </v-toolbar>
        </div>
        <div v-if="!editing && canUse" style="display:absolute;float:right;">
          <v-btn v-if="canEdit" fab dark color="cyan" @click="edit()" title="uredi">
            <v-icon dark>edit</v-icon>
          </v-btn>
          <br>
          <v-btn
            v-if="canPublish"
            fab
            dark
            color="red"
            @click="publish"
            title="objavi"
            :disabled="!status || status!=='draft'"
          >
            <v-icon dark>check</v-icon>
          </v-btn>
          <br>
          <v-btn
            fab
            dark
            color="blue-grey lighten-4"
            @click="hprev"
            v-if="archives && archives.length>0"
            :disabled="prevarch.length===0"
            title="prejšnja različica"
          >
            <v-icon dark>undo</v-icon>
          </v-btn>
          <br>
          <v-btn
            fab
            dark
            color="blue-grey lighten-4"
            @click="hnext"
            v-if="archives && archives.length>0"
            :disabled="nextarch.length===0"
            title="naslednja različica"
          >
            <v-icon dark>redo</v-icon>
          </v-btn>
        </div>
        <div v-html="body" ref="editor"></div>
        <div v-if="user">
          <script src="/redactor/redactor.min.js"/>
          <script src="/redactor/imagemanager.min.js"/>
          <script src="/redactor/properties.min.js"/>
          <script src="/redactor/table.min.js"/>
          <script src="/redactor/alignment.min.js"/>
          <link href="/redactor/redactor.min.css" rel="stylesheet" type="text/css">
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
let Can = require('cry-can')
let _can = new Can('cms', 'all')
export default {
  data: function() {
    return {
      user: this.$store.state.user,
      editing: false,
      imgs: [],
      code: '',
      body: '',
      title: '',
      keywords: '',
      status: '',
      _id: '',
      _updated: '',
      archives: [],
      canSave: this.can('save'),
      canPublish: this.can('publish'),
      canUse: (this.can('save') || this.can('publish'))
    }
  },
  methods: {
    can(oper) {
      return _can.can(
        this.$store.state.requiredPermissions,
        this.$store.state.user && this.$store.state.user.permissions,
        oper
      )
    },
    async save() {
      let body = $R(this.$refs.editor, 'source.getCode') || this.body
      let ret = await this.$axios.post(`/api/cms/${this.code.toLowerCase()}/`, {
        body,
        title: this.title,
        status: this.status,
        keywords: this.keywords
      })
      this.copydata(ret.data)
      this.stopediting()
      this.loadarchive()
    },
    async publish() {
      await this.save()
      let ret = await this.$axios.post(
        `/api/cms/publish/${this.code.toLowerCase()}/`
      )
      this.status = ret.data.status
      this.stopediting()
      this.loadarchive()
    },
    async remove() {
      await this.save()
      let ret = await this.$axios.delete(`/api/cms/${this._id}`);
      this.$nuxt.$router.push('/'+this.code);
    },
    async loadarchive() {
      this.archives = (await this.$axios.get(
        `/api/cms/${this.code.toLowerCase()}/all`
      )).data
      this.archives.sort((a, b) => new Date(b._updated) - new Date(a._updated))
    },
    edit() {
      this.editing = true
      $R(this.$refs.editor, {
        plugins: ['alignment', 'table', 'imagemanager', 'properties'],
        imageUpload: '/api/upload/' + this.code,
        imageManagerJson: `/api/upload/${this.code}/`
      })
    },
    stopediting() {
      $R(this.$refs.editor, 'destroy')
      this.editing = false
    },
    canEdit() {
      return this.user
    },
    copydata(data) {
      this.code = data.code
      this._id = data._id
      this.status = data.status
      this.title = data.title
      this.keywords = data.keywords
      this.body = data.body
      this.$data._updated = data._updated
    },
    hprev() {
      this.copydata(this.prevarch[0])
    },
    hnext() {
      this.copydata(this.nextarch[this.nextarch.length - 1])
    }
  },
  computed: {
    prevarch() {
      return this.archives.filter(a => a._updated < this.$data._updated)
    },
    nextarch() {
      return this.archives.filter(a => a._updated > this.$data._updated)
    }
  },
  async mounted() {
    if (
      this.$store.state.user
        .username /*&& this.$store.state.user.permissions.cms*/
    ) {
      let data = await this.$axios.get(
        `/api/cms/${this.code.toLowerCase()}/draft`
      )
      if (data.data) {
        this.copydata(data.data)
      }
      this.loadarchive()
    }
  },
  async asyncData({ $axios, params, store }) {
    let { cms } = params
    let data = {}
    try {
      data = await $axios.$get(`/api/cms/${cms.toLowerCase()}/published`)
    } catch (err) {
      console.error(`cms asyncData cannot access for code ${cms}`, err.message)
    }
    let def = {
      code: cms.toLowerCase(),
      title: cms,
      body: '<h1>' + cms + '</h1><p>Žal, na tem naslovu ni ničesar.</p>'
    }
    return { ...def, ...data }
  },
  head() {
    let r = {}
    if (this.title) r.title = this.title
    if (this.keywords)
      r.meta = [{ hid: 'keywords', name: 'keywords', content: this.keywords }]
    return r
  }
}
</script>
