<template>
  <div>
    <v-layout>
    <v-menu
        xs6
        ref="dmenu"
        v-model="dmenu"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
    >
        <template v-slot:activator="{ on }">
        <v-text-field
            class="formcal"
            v-model="datetext"
            :label="model.label||name | capitalize"
            :hint="model.hint"
            :persistent-hint="true"
            :prefix="$moment(date).format('dddd')"
            v-on="on"
            mask="##.##.####"
            :return-masked-value="true"
            @change="parseText"
            :rules="[ t => datevalid || 'datum ni veljaven']"
        ></v-text-field>
        </template>
        <v-date-picker v-model="datecal" no-title @input="dmenu = false" first-day-of-week="1" locale="sl" :scrollable="true"></v-date-picker>
    </v-menu>
    <v-menu
        v-if="!model.notime && !dateonly"
        xs6
        ref="tmenu"
        v-model="tmenu"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                xs6
                v-model="timetext"
                label="Ob"
                v-on="on"
                mask="##:##"
                :return-masked-value="true"
                @change="parseText"
                :rules="[ t => timevalid || 'čas ni veljaven']"
            ></v-text-field>
        </template>
        <v-time-picker v-model="timetext"  @input="dmenu = false" format="24hr" :scrollable="true"></v-time-picker>
    </v-menu>
    </v-layout>
  </div>
</template>
<script>
import { type } from 'os'
import { constants } from 'crypto';
export default {
    props: ['name', 'model', 'value', 'dateonly'],
    data() {
        return {
            date: this.value,
            datecal: this.$moment(this.value).format('YYYY-MM-DD'),
            datetext: this.$moment(this.value).format('DD.MM.YYYY'),
            timetext: this.$moment(this.value).format('HH:mm'),
            dmenu: false,
            tmenu: false,
        }
    },
    watch: {
        datetext() {
            this.parseText()
        },
        timetext() {
            this.parseText()
        },
        datecal()  {
            let r = /^(?<y>\d\d\d\d).(?<m>\d\d).(?<d>\d\d)/;
            let m = this.datecal.match(r);
            this.datetext=`${m.groups.d}.${m.groups.m}.${m.groups.y}`
        }
    },
    methods: {
        parseText() {
            this.datetextvalid=false
            let r = /^(?<d>\d\d).(?<m>\d\d).(?<y>\d\d\d\d)(\s*(?<h>\d\d):(?<n>\d\d))?/;
            let t = this.datetext+' '+this.timetext
            let m = t.match(r);
            if (m) {
                let ds = `${m.groups.y}-${m.groups.m}-${m.groups.d}`
                if (m.groups.h && m.groups.n) ds += `T${m.groups.h}:${m.groups.n}`
                let d = new Date(ds)
                if (d.getDate()==m.groups.d) {
                    this.datetextvalid=true
                    this.date=d
                    this.emitdate()
                }
            }
        },
        emitdate() {
            this.$emit('change',this.date)
        },
    },
    computed: {
        datevalid() {
            let r = /^(?<d>\d\d).(?<m>\d\d).(?<y>\d\d\d\d)/;
            let t = this.datetext;
            let m = t.match(r);
            if (m) {
                let ds = `${m.groups.y}-${m.groups.m}-${m.groups.d}`
                let d = new Date(ds)
                if (d.getDate()==m.groups.d) {
                    return true
                }
            }
            return false
        },
        timevalid() {
            return this.$moment('2000-01-01 '+this.timetext).isValid()
        },
        fulltext() {
            return this.datetext+' '+this.timetext
        },
        warnings() {
            if (!this.model.warnings) return []
            if (typeof this.model.warnings === 'string') return this.model.warnings
            let ws = []
            this.model.warnings.forEach(w => {
                if (typeof w === 'string') ws.push(w)
                if (typeof w === 'function') {
                let c = w.call(this, this.val)
                if (c) ws.push(c)
                }
            })
            return ws
        }
    }
}
</script>
<style >
    .formcal .v-text-field__prefix { color: lightgray; margin-right: 10px; }
</style>
