<template>
    <datetime :name="name" :model="model" :value="value" :dateonly="true" @change="$emit('change',$event)">
    </datetime>
</template>
<script>
import datetime from './datetimeEditor'
export default {
    props: ['name', 'model', 'value'],
    components: {
        datetime
    }
}
</script>
