<template>
    <v-component
        v-if="showme"
        :is="model.editor||'string'" :model='model' :name="name" :value="value" @change="$emit('change',$event)" :context="context">
    </v-component>
</template>
<script>
import string from './stringEditor'
import radios from './radioButtonsEditor'
import dropdown from './selectEditor'
import datetime from './datetimeEditor'
import date from './dateeditor'
import statictext from './formheader'
import { type } from 'os';
import { timingSafeEqual, constants } from 'crypto';

export default {
    props: ['model','name','value','context'],
    components: {
        string,
        radios,
        dropdown,
        datetime,
        date,
        statictext
    },
    computed: {
        showme() {
            if (this.model.if===undefined) return true;
            if (this.model.if && typeof this.model.if==='function') return this.model.if.call(this,this.context)
            return this.model.if
        }
    }

}
</script>
