<template>
    <v-container>
        <h1>editor</h1>
            <form-generator :model="model" :data="data"></form-generator>
            <br>
            <br>

            my data {{data}}
    </v-container>
</template>
<script>

let model = {
    ime: {
        editor: 'string',
        label: 'Ime',
        hint: 'Ime udeženeca',
        class: 'xs12 md6',
        required: true,
        rules: [ v => !!v || 'vpiši ime stranke' ],
        warnings: [ v => v.length<5 ? 'min 5 recommended' : '' ],
    },
    priimek: {
        editor: 'string',
        label: 'Priimek',
        hint: 'Priimek udeleženca',
        class: 'xs12 md6',
        required: true,
        rules: [ v => !!v || 'vpiši priimek stranke' ],
    },
    spol: {
        editor: 'radios',
        values: [ 'moški','ženska', { value:'neznano', text:'ni vnešen'} ],
        multiple: false,
        required: true,
        warnings: [ v => v==='moški' ? 'to je pa tolk fajn' : ''],
        color: 'blue',
        hint: 'namig glede spola',
        disabled: true
    },
    jeziki: {
        editor: 'dropdown',
        multiple: true,
        hint: 'programski jeziki',
        required: true,
        values: ['c#','python',{value:'jscript',text:'javascript'}],
        rules: [ v => !!(v&&v.length) || 'izberite jezik'],
        clearable: true,
        if: (c) =>  !!c.priimek,
    },
    vmes: {
        editor: 'statictext',
        text: (c1,c2) => `zdravo ${c1.ime} ${c1.priimek}`,
        tag: 'h3',
        class: 'red--text'
    },
    rojen: {
        editor: 'datetime',
        hint: 'točen datum rojstva',
    },
}


import formGenerator from './formGenerator'

export default {
    data() {
        return {
            model: model,
            data: {
                ime: 'Primož',
                priimek: 'Krajnik',
                spol: 'moški',
                jeziki: [],
                rojen: new Date('1972-04-03 03:35')
            },
        }
    },
    components: {
        formGenerator
    }
}
</script>
