<template>
    <v-form v-model="valid" ref="form">
        <v-layout wrap rows>
            <v-flex class="control" v-for="field in fields" :key="field[0]" :class="field[1].class || 'xs12'">
                <dynamic-editor :model="field[1]" :name="field[0]" :value="data[field[0]]" :context="data" @change="fieldValueChanged(field[0],$event)"></dynamic-editor>
            </v-flex>
            <v-flex xs12>
                form is valid: {{valid}}
                <v-btn @click="validateform">validate</v-btn>
            </v-flex>
        </v-layout>
    </v-form>
</template>
<script>

import dynamicEditor from './dynamicEditor.vue'

export default {
    props: ['model','data'],
    data() {
        return {
            newdata: this.data,
            valid: false,
        }
    },
    methods: {
        fieldValueChanged(field,value) {
            this.newdata[field]=value;
        },
        validateform(){
            this.$refs.form.validate()
        }
    },
    computed: {
        fields: function() { return  Object.entries(this.model)},
    },
    components: {
        dynamicEditor,
    }
}
</script>

<style scoped>
    .control { margin-bottom: 20px; }
</style>
