<template>
    <h1 :is='model.tag||"h1"' :class="model.class">{{text()}}</h1>
</template>
<script>
export default {
    props: ['model','context'],
    methods: {
        text() {
            if (!this.model) return 'no data'

            if (typeof this.model.text==='string') return this.model.text
            if (typeof this.model.text==='function') return this.model.text.call(this,this.context)
        }
    },
}
</script>
