<template>
    <div>
        <div class="label">{{model.label | capitalize}}</div>
        <v-input class="wrapper"  :rules="[ v => !!v || 'napaka' ]" :value='val' :messages="warnings" :hint="model.hint">
        <v-btn-toggle small :class='emptyclass' depressed v-model="val" @change="$emit('change',val)" :multiple="model.multiple||false" :mandatory="model.required">
            <v-btn :disabled='model.disabled' :readonly='model.readonly' :color='model.color'  flat v-for="v in values" :key="v.value" :value="v.value">{{v.text}}</v-btn>
        </v-btn-toggle>
    </v-input>
    </div>
</template>
<script>
export default {
    props: ['value','model'],
    data() {
        return {
            val: this.value
        }
    },
    computed: {
        values() {
            if (!this.model.values) return []
            let vs=[]
            this.model.values.forEach(v => {
                if (typeof v==='string') vs.push( {value:v,text:v})
                else if (typeof v==='object') vs.push(v)
            })
            return vs
        },
        emptyclass() {
            return this.val ? '' : 'empty'
        },
        warnings() {
            if (!this.model.warnings) return [];
            if (typeof this.model.warnings==='string') return this.model.warnings;
            let ws = []
            this.model.warnings.forEach(w => {
                if (typeof w==='string') ws.push(w);
                if (typeof w==='function') {
                    let c = w.call(this,this.val)
                    if (c) ws.push(c)
                }
            })
            return ws
        }
    },
}
</script>
<style scoped>
    .error--text .v-btn-toggle { border: solid 1px #dd2c00 !important}
    .v-btn-toggle { display: flex; justify-content: space-between; width:100%; }
    .v-btn-toggle--selected { box-shadow: none; }
    .v-btn { margin: 0; margin-left: -1px;  display: 'block'; flex-grow: 1; }
    .v-btn:fist { margin-left: 0;}
    .label { height: 20px;  width: 100%;     font-size: 12px; color: rgba(0,0,0,0.54); }
    .empty { border: solid 1px lightgray; }
    .full { border: solid 1px lightgray; }
</style>
