<template>
    <v-select
        :name="name"
        :clearable="model.clearable"
        :label="`${model.label||name}${model.required?' *':''}` | capitalize"
        :hint="model.hint"
        :suffix="model.suffix"
        :rules="model.rules"
        :required="model.required"
        :disabled="model.disabled"
        :readonly="model.readonly"
        :messages="warnings"
        :items="model.values"
        :multiple="model.multiple"
        :chips="model.multiple"
        v-model="val"
        @input="$emit('change',val)" >
    </v-select>
</template>
<script>
import { type } from 'os';
export default {
    props: ['name','model','value','values'],
    data() {
        return {
            val: this.value,
        }
    },
    computed: {
        warnings() {
            if (!this.model.warnings) return [];
            if (typeof this.model.warnings==='string') return this.model.warnings;
            let ws = []
            this.model.warnings.forEach(w => {
                if (typeof w==='string') ws.push(w);
                if (typeof w==='function') {
                    let c = w.call(this,this.val)
                    if (c) ws.push(c)
                }
            })
            return ws
        }
    }
}
</script>
