<template>
    <div>
        <v-btn v-if="!active" @click="active=true" :color="color" :flat="flat">{{label}}</v-btn>
        <div v-if="active">
            <v-btn @click="active=false; $emit('click')" :color="confirmColor" :flat="flat">{{confirm}}</v-btn>
            <v-btn @click="active=false" :flat="flat">{{cancel}}</v-btn>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        label: {
            type: String,
        },
        confirm: {
            type: String,
            default: 'Really?'
        },
        cancel: {
            type: String,
            default: 'NO'
        },
        color: {
            type: String,
            default: 'primary'
        },
        confirmColor: {
            type: String,
            default: 'red'
        },
        flat: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            active: false
        }
    },
}
</script>
