<template>
    <div>
        <span :class="`status ${ebusStatus}`">
        enteprise bus status: {{ ebusStatus }}
        </span> 
        |
        <span :class="`status ${serverStatus}`">
        server status: {{ serverStatus }}
        </span>     
        <br>
        <br>
    </div>  
</template>
<style scoped>
    .status.on.line { color: green; }
    .status.off.line { color: red; }
    .status.unknown { color: gray; }
</style>
<script>
export default {
  computed: {
    ebusStatus() {
      if (!this.$store.state.server.online) return 'unkonwn'
      if (this.$store.state.ebus.online===true) return 'on line';
      if (this.$store.state.ebus.online===false) return 'off line';
      return 'unkonwn'
    },
    serverStatus() {
      if (this.$store.state.server.online===true) return 'on line';
      if (this.$store.state.server.online===false) return 'off line';
      return 'unkonwn'
    },
  },
}
</script>
