<template>
    <v-toolbar class="white noprint" dense :fixed="!!fixed">
      <v-toolbar-items>
        <v-toolbar-title class="pagetitle" flat v-ripple @click="gohome()" style="padding-top:10px;">
          PRIMASA DEMO APP
        </v-toolbar-title>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat v-for="item in mainmenus" :to="item.to" :key="item.to">{{item.title}}</v-btn>
        <v-btn class="hidden-md-and-down" flat v-for="item in moremenus" :to="item.to" :key="item.to">{{item.title}}</v-btn>
            <v-menu class="hidden-lg-and-up"  :nudge-left="100" :nudge-width="100" >
              <v-toolbar-title slot="activator" to="/">
                <v-icon>arrow_drop_down_circle</v-icon>
              </v-toolbar-title>
              <v-list>
                <v-list-tile v-for="item in moremenus" :key="item.to" :to="item.to">
                  <v-list-tile-title v-text="item.title"></v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
      </v-toolbar-items>
      <v-menu :nudge-left="100" :nudge-width="100" class="hidden-sm-and-up">
        <v-toolbar-title slot="activator" to="/">
          <v-toolbar-side-icon></v-toolbar-side-icon>
        </v-toolbar-title>
        <v-list>
          <v-list-tile v-for="item in menus" :key="item.to" :to="item.to">
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
</template>
<style>
#pagetitle {
  display: inline-flex;
  position: static;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin-left: -10px;
  padding-right: 10px;
  margin-right: -10px;
}
@media print {
   .noprint {
     display: none;
   }
}
</style>
<script>
let menuitems = require("../configcode/menuitems.js");
import axios from 'axios';
export default {
  props: [ 'fixed' ],

  data() {
    return {
      title: "Primasa",
      menus: [],
      mainmenus: [],
      moremenus: [],
      user: this.$store.state.user,
    };
  },
  methods: {
    athome() {
      return this.$nuxt.$route.path === "/";
    },
    gohome() {
      this.$nuxt.$router.push("/");
    },
    logout() {
      axios.post('/api/auth/logout')
      this.$store.commit('SET_USER',null)
      this.gohome()
    }
  },
  mounted () {
    this.menus = menuitems.filter( i => !!this.user || !i.private);
    this.mainmenus = this.menus.filter(i => !i.more)
    this.moremenus = this.menus.filter(i => !!i.more)
  }
};
</script>
