<template>
    <div>
        <h1>VIP seznam
            <v-btn @click="newvip" v-if="!editing" color="primary" small style="float:right">dodaj</v-btn>
        </h1>
        <v-dialog v-model="editing" max-width="600" persistent="">
            <v-card>
                <v-card-text>
                    <v-form v-model="formvalid" v-if="editing" ref="form">
                        <v-text-field v-model="vip.name" label="name" :rules=[rules.required]></v-text-field>
                        <v-text-field v-model="vip.from" label="from" ></v-text-field>
                        <v-combobox v-model="vip.categories" :items="categories" label="category" multiple chips></v-combobox>
                        <v-combobox v-model="vip.events" :items="events" label="events" multiple chips></v-combobox>
                        <v-card-actions>
                        <v-btn @click="savevip" :disabled="!formvalid" color="primary">{{vip._id?"shrani":"dodaj"}}</v-btn>
                        <v-btn @click="cancelvip">preklic</v-btn>
                        <v-spacer></v-spacer>
                        <confirmButton v-if="vip._id" @click="deletevip" label="Zbriši" confirm="delete this VIP" cancel="no"></confirmButton>
                        </v-card-actions>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog v-if="showlog" v-model="showlog" max-width="700">
            <v-card>
                <v-card-title><h1>Log of changes</h1></v-card-title>
                <v-card-text>
                    <table class="log">
                        <tr v-for="(log,i) in showlog" :key="i">
                            <td>{{$moment(log.date).format('DD.MM.YYYY HH:mm')}}</td>
                            <td>{{log.user}}</td>
                            <td>{{log.operation}}</td>
                            <td>
                                <div v-for="key in ['name','from','events','categories']" :key="key">
                                    <span v-if="log.changes[key]">
                                        {{key}}: {{log.changes[key]}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="showlog=null">close log</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>From</th>
                    <th>Categories</th>
                    <th>Events</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(v) in sortedvips" :key="v._id || i">
                    <td>{{v.name}}</td>
                    <td>{{v.from}}</td>
                    <td>{{[...v.categories].join(', ')}}</td>
                    <td>{{[...v.events].join(', ')}}</td>
                    <td><v-btn small @click="editvip(v)">edit</v-btn></td>
                    <td><v-btn small @click="loadlog(v._id)">log</v-btn></td>
                </tr>
            </tbody>
      </table>
    </div>
</template>

<style scoped>
    table { width:100%; }
    .log td { border-bottom: 1px solid  gray;}
    tr:hover { cursor: pointer; background-color: lightgray;}
    th { text-align: left }
</style>

<script>
import { constants } from 'crypto';
import confirmButton from '../components/confirmButton'

let emptyvip = () => { return {
    _id: null,
    name: '',
    from: '',
    categories: [],
    events: '',
}}

export default {
    components: { confirmButton},
    data() {
        return {
            vip: emptyvip(),
            viplist: [],
            formvalid: true,
            editing: false,
            rules: {
                required: v => !!v || 'required'
            },
            showlog: null,
        }
    },
    methods: {
        newvip() {
            this.vip = emptyvip();
            this.editing=true;
        },
        editvip(v) {
            this.vip = JSON.parse(JSON.stringify(v))
            this.editing = true
        },
        savevip() {
            this.dbUpsert('vip',{_id:this.vip._id},this.vip)
            this.cancelvip()
        },
        deletevip() {
            this.dbDeleteOne('vip',{ _id: this.vip._id })
            this.cancelvip()
        },
        cancelvip() {
            this.vip = emptyvip()
            this.$refs.form.reset();
            this.editing=false;
        },
        async loadlog(id) {
            this.showlog = await this.dbGetChanges('vip',id)
        }
    },
    computed: {
        sortedvips() {
            return Object.values(this.viplist).sort((a, b) => a.name.localeCompare(b.name ));
        },
        categories() {
            return  [... new Set( Object.values(this.viplist).map(v => v.categories).filter(a => !!a).flat(3)) ].sort()
        },
        events() {
            return  [... new Set( Object.values(this.viplist).map(v => v.events).filter(a => !!a).flat(3)) ].sort()
        }
    },
    async created() {
        if (process.client) {
        	this.viplist = await this.dbLoad('vip',{});
        }
    },

}
</script>
