<template>
  <v-app>
    <v-content>
        <topmenu></topmenu>
        <div class="spacer"></div>
        <router-view></router-view>
    </v-content>
    <v-footer dark v-if="user.username">
        <v-layout justify-center>
            <span v-if="tenant">{{tenant}}  </span>
            <span v-if="user.username">
                {{user.username}}
                &nbsp;
                <a href="/api/auth/logout">logout</a>
            </span>
        </v-layout>
    </v-footer>
  </v-app>
</template>
<script>
import topmenu from '~/components/topmenu.vue'
export default {
    components:{topmenu},
}
</script>
