<template>
  <v-container>
    <v-flex>
      <h1 v-if="error.statusCode === 404">Page not found</h1>
      <h1 v-else>An error occurred</h1>
      <nuxt-link to="/">Home page</nuxt-link>
    </v-flex>
    <v-flex v-if="user && user.username">
        <h2>Error details</h2>
        {{error}}
    </v-flex>
  </v-container>
</template>

<script>
export default {
  props: ['error'],
  data() {
      return {
          user: this.$store.state.user,
      }
  },

}
</script>
