<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <server-status></server-status>
        <br>
      </v-flex>
      <v-flex xs12>
          <div class="headline">Request service from worker</div>
          <br>
          <v-text-field v-model="service" label="service name" :messages="serviceMessages" :append-icon="canCallThisService?'check':'error'"></v-text-field>
          <br>
          <v-text-field v-model="data" label="service data" :rules="[validjson]"></v-text-field>
          <v-btn @click="requestServiceFromWorker" :class="buttonClass" :disabled="!service">request {{service}} service</v-btn>
          <br><br><br>
      </v-flex>
      <v-flex xs12 md4 v-if="svcRequests.length">
        <h2>Requests</h2>
        <ul>
          <li v-for="(r,i) in svcRequests" :key="i">{{r}}</li>
        </ul>
      </v-flex>
      <v-flex xs12 md8 v-if="svcResponses.length">
        <h2>Responses</h2>
        <ul>
          <li v-for="(r,i) in svcResponses" :key="i">{{r}}</li>
        </ul>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<style>
    .bottom {
      bottom: -20px;
    }
    .status.on.line { color: green; }
    .status.off.line { color: red; }
    .status.unknown { color: gray; }
</style>
<script>
import serverStatus from '~/components/serverStatus.vue'

export default {
  data() {
    return {
      svcRequests: [],
      svcResponses: [],
      serviceMessages: '',
      service: 'hello',
      data: `{ "name": "${this.$store.state.user.username || 'anonymous'}" }`,
      canCallThisService: true,
    }
  },
  computed: {
    buttonClass() {
      if (this.$store.state.server.online!==true) return 'red--text';
      if (this.$store.state.ebus.online!==true) return 'orange--text';
      return 'green--text'
    },
  },
  watch: {
    service() {
      this.canCallThisService = this.userCanExecuteService(this.service)
      this.serviceMessages = !this.canCallThisService?`WARNING: you are not authorized to call service ${this.service}`:`you are authorized to call service ${this.service}`
    }
  },
  methods: {
    async requestServiceFromWorker() {
      try {
        this.svcRequests.unshift(`request ${this.service}: ${this.data}`)
        let res = await this.callEbus(this.service,JSON.parse(this.data))
        this.svcResponses.unshift(`reply: ${JSON.stringify(res)}`)
      } catch(error) {
        this.svcRequests.unshift(`ERROR ${error.message}`)
      }
    },
    userCanExecuteService(service)
    {
      let operation = this.data && this.data.data && this.data.data.operation || 'call';
      return this.can(operation,service,'ebus')
    },
    validjson(txt) {
        try {
            JSON.parse(txt)
            return true;
        } catch (err) {
            return err.message
        }
    }
  },
  components: {
    serverStatus
  }
}
</script>
