<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <server-status></server-status>
        <br>
      </v-flex>
      <v-flex xs12>
          <div class="headline">Request service from worker</div>
          <br>
          <v-text-field v-model="service" label="service name" :messages="serviceMessages" :append-icon="canCallThisService?'check':'error'"></v-text-field>
          <br>
          <v-text-field v-model="data" label="service data" :rules="[validjson]"></v-text-field>
          <v-btn @click="requestServiceFromWorker" :class="buttonClass" :disabled="!service">request {{service}} service</v-btn>
          <br><br><br>
      </v-flex>
      <v-flex xs12 md4 v-if="svcRequests.length">
        <h2>Requests</h2>
        <ul>
          <li v-for="(r,i) in svcRequests" :key="i">{{r}}</li>
        </ul>
      </v-flex>
      <v-flex xs12 md8 v-if="svcResponses.length">
        <h2>Responses</h2>
        <ul>
          <li v-for="(r,i) in svcResponses" :key="i">{{r}}</li>
        </ul>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<style>
    .bottom {
      bottom: -20px;
    }
    .status.on.line { color: green; }
    .status.off.line { color: red; }
    .status.unknown { color: gray; }
</style>
<script>

import serverStatus from '~/components/serverStatus.vue'
import socket from 'socket.io-client'

export default {
  data() {
    return {
      time: '',
      socketid: undefined,
      user: this.$store.state.user,
      token: this.$store.state.user.token,
      svcRequests: [],
      svcResponses: [],
      service: 'hello',
      data: `{ "name": "${this.$store.state.user.username || 'anonymous'}" }`,
      ebusstatus: undefined,
      serverstatus: undefined,
      serviceMessages: '',
      canCallThisService: true,
      requiredPermissions: this.$store.state.requiredPermissions
    }
  },
  computed: {
    buttonClass() {
      if (this.$store.state.server.online!==true) return 'red--text';
      if (this.$store.state.ebus.online!==true) return 'orange--text';
      return 'green--text'
    },
  },
  watch: {
    service() {
      this.canCallThisService = this.userCanExecuteService(this.service)
      this.serviceMessages = !this.canCallThisService?`WARNING: you are not authorized to call service ${this.service}`:`you are authorized to call service ${this.service}`
    }
  },
  created() {
    if (process.client) {
      this.socket = socket()
      this.socket.on('serviceResult', data => this.svcResponses.unshift(`reply: ${JSON.stringify(data)}`))
      this.socket.on('serviceError', data => this.svcResponses.unshift(`error: ${JSON.stringify(data)}`))
      this.socket.on('subscriptionMessage', data => console.log('SUB',data))
      this.socket.emit('subscribe',{channel:'db'})
    }
  },
  methods: {
    requestServiceFromWorker() {
      try {
        let data = JSON.parse(this.data)
        let payload = { service: this.service, token: this.token, data };
        this.socket.emit('serve', payload)
        this.svcRequests.unshift(`request ${this.service}: ${JSON.stringify(data)}`)
      } catch(error) {
        this.svcRequests.unshift(`ERROR ${error.message}`)
      }
    },
    userCanExecuteService(service)
    {
      let operation = this.data && this.data.data && this.data.data.operation || 'call';
      return this.can(operation,service,'ebus')
    },
    validjson(txt) {
        try {
            JSON.parse(txt)
            return true;
        } catch (err) {
            return err.message
        }
    }
  },
  components: {
    serverStatus
  }
}
</script>
