<template>
    <v-container>
        <v-btn @click="ping">ping</v-btn>
        <v-btn @click="newid">newid</v-btn>
        <v-btn @click="hello">hello</v-btn>
        <v-btn @click="tickets">tickets</v-btn>
        <v-btn @click="byid">getbyid</v-btn>
        <v-btn @click="change">change</v-btn>
        <v-btn @click="deletevips">delete vips</v-btn>
        <hr>
        res = {{res}}
    </v-container>
</template>
<script>
import Vue from 'vue'
export default {
    data() {
        return {
            res: { a: 'bla' }
        }
    },
    methods: {
        async ping() {
            console.time('ping')
            this.res = 'pinging...'
            this.res = await this.dbPing()
            console.timeEnd('ping')
        },
        async newid() {
            this.res = 'newid...'
            this.res = await this.dbNewid()
        },
        async hello()
        {
            this.res = 'calling hello (your_name_here)...'
            this.res = await this.callEbus('hello',{ name:'your_name_here' })
        },
        async tickets()
        {
            console.time('tickets')
            this.res = 'tickets...'
            this.res = await this.dbFind('tickets',{})
            console.timeEnd('tickets')
        },
        async byid() {
            this.res='by id....',
            this.res = await this.dbGetEntity('tickets','5cf4f0ebd21d98f30aed63ad');
        },
        async change() {
            this.res = await this.dbGetEntity('tickets','5cf4f0ebd21d98f30aed63ad');
            this.res.desc  = 'XXX'
            Vue.set(this.res,'a','yyy')
        },
        async deletevips() {
            this.res = 'deleting vips'
            this.res = await this.dbDelete('vip',{})
        }

    },
    created () {
    },
}
</script>
