<template>
    <v-container>
        <editor></editor>
    </v-container>
</template>
<script>
    import editor from '../components/form/editor.vue'

    export default {
        components: {
            editor
        }
    }
</script>
