<template>
    <v-container>
        <v-btn :href='loginUrl'>login with facebook</v-btn>
        <hr>
        {{home}}
        <br>
        {{loginUrl}}
    </v-container>
</template>
<script>
export default {
    data() {
        return {
            appId: 2281239845469724,
            redirectUri: process.env.FB_REDIRECT_URI, // || "http://localhost:3200/api/auth/fblogin",
            state: 'AHA',
            scope: 'email',
            home: process.env.WWW_HOME
        }
    },
    computed: {
        loginUrl() {
            return `https://www.facebook.com/v4.0/dialog/oauth?client_id=${this.appId}&redirect_uri=${this.redirectUri}&scope=${this.scope}&state=${this.state}`
        }
    },
}
</script>
cm