<template>
  <v-container>
    <stepper :step="step" v-on:step="step=$event"></stepper>
    <br>
    <dostava :value="kam" @kam="kam=$event"></dostava>
    <br>
    <nanaslov v-if="kam==0" v-on:ok="imamonaslov=$event"></nanaslov>
    <izberilogista v-if="kam==0 && imamonaslov"></izberilogista>
    <nalokacijo v-if="kam==1"></nalokacijo>
  </v-container>
</template>
<script>
import stepper from '../components/fpc/stepper'
import dostava from '../components/fpc/dostava'
import nanaslov from '../components/fpc/nanaslov'
import nalokacijo from '../components/fpc/nalokacijo'
import izberilogista from '../components/fpc/izberilogista'
export default {
    data() {
        return {
            step: 2,
            kam: 0,
            imamonaslov: false
        }
    },
    components: {
        stepper,
        dostava,
        nanaslov,
        nalokacijo,
        izberilogista,
    }
}
</script>
