<template>
<v-container>
    <v-flex xs12>
        <h1>{{ ticket._id ? "EDIT" : "NEW"}} TICKET</h1>
        <v-form v-model="valid" ref="form">
            <v-text-field v-model="ticket.title" label="Title of the ticket" hint="A short description of the problem" :rules=[rules.required,rules.min]></v-text-field>
            <v-textarea v-model="ticket.desc" label="Problem description" hint="What went wrong and how to reproduce it" :rules=[rules.required]></v-textarea>
            <input type="hidden" v-model="ticket.status">
            <input type="hidden" v-model="ticket._id">
            <v-btn @click="saveticket" :disabled="!valid || ticket.status=='closed'" color="primary">{{ticket._id?'SAVE CHANGES':'SUBMIT A NEW TICKTET'}}</v-btn>
            <v-btn @click="closeticket" :disabled="ticket.status!=='open'" color="secondary">CLOSE TICKET</v-btn>
            <v-btn @click="canceledit" :disabled="!ticket.title && !ticket.desc">cancel</v-btn>
        </v-form>
        </v-flex>
        <v-flex v-if="ticketlog">
            <v-dialog v-model="ticketlog" max-width="700">
                <v-card>
                    <v-card-title><h1>Ticket log</h1></v-card-title>
                    <v-card-text>
                        <table>
                            <tr v-for="(log,i) in ticketlog.logs" :key="i">
                                <td>{{$moment(log.date).format('DD.MM.YYYY HH:mm')}}</td>
                                <td>{{log.user}}</td>
                                <td>{{log.operation}}</td>
                                <td>{{log.snapshot.desc}}</td>
                            </tr>
                        </table>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn @click="ticketlog=null">close log</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-flex>
        <v-flex xs12 v-if='tickets.length'>
            <h2>Open tickets</h2>
            <table>
            <tr v-for="(t,i) in tickets" :key="t._id">
                <td>
                    {{t.title}}
                </td>
                <td>
                    {{t.status}}
                </td>
                <td>
                    <v-btn flat @click="ticketlog=t">see log</v-btn>
                </td>
                <td class="cmd">
                    <v-btn :disabled="t.status!=='open'" small @click="editticket(i)">edit</v-btn>
                </td>
            </tr>
            </table>
            <confirm-button @click="purgealltickets" label="delete all tickets" confirm="really delete all tickets?"></confirm-button>
        </v-flex>
</v-container>
</template>
<style scoped>
    table {
        width:100%;
        margin-top: 1em;
    }
    tr {
        width: 100;
    }
    tr:hover {
        background-color: lightgray;
    }
    td.cmd {
        text-align: right;
    }
    h2 {
        margin-top: 2em;
    }
</style>
<script>
import confirmButton from '../components/confirmButton'
import socket from 'socket.io-client'
import Vue from 'vue'
let emptyticket = () => { return  {
                title: '',
                desc: '',
                status: '',
                _id: ''
            }};

export default {
    components: { confirmButton },
    middleware: [ 'auth' ],  // this page requires authenticated user
    data() {
        return {
            ticket: emptyticket(),
            tickets: [],
            user: this.$store.state.user,
            token: this.$store.state.user.token,
            socket: null,
            valid: false,
            ticketlog: null,
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters',
            }
        }
    },
    methods: {
        saveticket() {
            this.socket.emit('serve', {
                service: 'helpdesk',
                token: this.token,
                data: {
                    operation: 'save',
                    ticket: this.ticket,
                    tenant: this.tenant
                }
            });
            this.$refs.form.reset();
            this.ticket = emptyticket();
        },
        closeticket() {
            this.socket.emit('serve', {
                service: 'helpdesk',
                token: this.token,
                data: {
                    operation: 'close',
                    ticket: this.ticket,
                    tenant: this.tenant
                }
            })
        },
        editticket(i) {
            this.ticket = JSON.parse(JSON.stringify(this.tickets[i]));
        },
        purgealltickets() {
            this.socket.emit('serve', {
                service: 'helpdesk',
                token: this.token,
                data: {
                    operation: 'purgeall',
                    tenant: this.tenant
                }
            })
            tickets=[]
        },
        canceledit() {
            this.$refs.form.reset();
            this.ticket = emptyticket();
        },
        loadtickets() {
            this.socket.emit('serve', {
                    service: 'helpdesk',
                    token: this.token,
                    data: {
                        operation: 'tickets',
                        tenant: this.tenant
                    }
                });
        }
    },
    created() {
        if (process.client) {
            this.socket = socket()
            this.socket.on('serviceResult', data => {
                // we get here after called EBUS service returns
                if (data.data && data.data.data && Array.isArray(data.data.data)) {
                    this.tickets = data.data.data
                }
            })
            this.socket.on('serviceError', data => console.error('error',data))
            this.socket.on('subscriptionMessage', data => {
                if (data.message && data.message.collection=='tickets') {
                    if (data.message.operation==='insert') {
                        console.log('insert',data.message.data)
                        this.tickets.unshift(data.message.data)
                    }
                    if (data.message.operation==='update') {
                        console.log('update',data.message.data)
                        for(let i=0; i<this.tickets.length;i++) {
                            if (this.tickets[i]._id===data.message.data._id) {
                                console.log('found')
                                Vue.set(this.tickets,i,data.message.data);
                                break;
                            }
                        }
                    }
                    if (data.message.operation==='delete') {
                        for(let i=0; i<this.tickets.length;i++) {
                            if (this.tickets[i]._id===data.message.data._id) {
                                this.tickets.splice(i,1);
                                break;
                            }
                        }
                    }
                    if (data.message.operation==='deleteMany') {
                        this.loadtickets();
                    }
                }
            })
            // receive database changes for tickets
            this.socket.emit('subscribe',{channel:`db/${this.tenant}/ticket`})
            // load all  tickets
           this.loadtickets();
        }
    },
}
</script>
