<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
          <h1>Portal demo</h1>
          <ul>
              <li>
                  <b>vip</b> - a simple VIP list implemented by calling database access ebus worker. <br>
                  Helpers for using this worker are part of the portal (in /plugins/dbebus.client.js). <br>
                  Therefore all crud functionality, synchronized accross all open browsers, is quite simple.
              </li>
              <li>
                  <b>helpdesk</b> -
                  calls business logic for "helpdesk" implemented in a ebus worker. <br>
                  This worker calls database access enus worker. <br>
                  Database access ebus worker announces all changes to ebus.<br>
                  This page listens to changes on channel <i>db/tickets</i> to update GUI if external changes to data occure. <br>
                  A better implementation would have the helpdesk worker publising its own changes but that wouldn't add to the demo.

              </li>
              <li>
                  <b>checkout</b> -
                  a more complicated gui example using google maps
                  and RPE ('register prostorskih enot'). <br>
                  Frontend-only, accessing external services from Google.
              </li>
              <li>
                  <b>ebus</b> -
                  a simple demo gui for calling enterprise worker from the client - by opening a socket and emitting commands
              </li>
              <li>
                  <b>ebus simple</b> -
                  a simple demo gui for calling enterprise worker from the client - by using a built-in plugin (plugins/ebus.client.js)
              </li>
              <li>
                  <b>rest</b> -
                  a simple demo gui for calling rest services
              </li>
          </ul>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<style scoped>
    li { margin-top: 1em;}
</style>
