<template>
    <v-container>
      <h1>Login</h1>
      <v-form action="login">
        <v-text-field v-model="username" ref="username" label="Username"></v-text-field>
        <v-text-field
          v-model="password"
          ref="password"
          label="Password"
          :append-icon="show1 ? 'visibility_off' : 'visibility'"
          :type="show1 ? 'text' : 'password'"
          @click:append="show1 = !show1"
          @keyup.enter="login"
        ></v-text-field>
        <v-btn color="info" @click="login">Login</v-btn>
      </v-form>
      <v-snackbar
        v-model="error"
        :timeout="3000"
        top="top"
        color="error"
        text-xs-center
        >
        Login error. Try again.
        </v-snackbar>
    </v-container>
</template>

<style scoped>
.login-button {
  border: 0;
}
</style>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      username: "",
      password: "",
      error: false,
      show1: false,
      ret: this.$route.query.ret
    };
  },
  computed: {
    strategies: () => [
      { key: "auth0", name: "Auth0", color: "#ec5425" },
      { key: "google", name: "Google", color: "#4284f4" },
      { key: "facebook", name: "Facebook", color: "#3c65c4" },
      { key: "github", name: "GitHub", color: "#202326" }
    ],
    isCallback() {
      return Boolean(this.$route.query.callback);
    }
  },
  mounted: function() {
    this.$refs.username.focus();
  },
  methods: {
    async login({params}) {
      this.error = null;
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 500)
      axios.post('api/auth/login', { username: this.username,password: this.password })
      .then((res) => {
        this.$store.commit('SET_USER', res.data)
        console.log('goto ',this.ret || '/')
        this.$nuxt.$router.push( { path:(this.ret || '/') });
        window.location = this.ret || '/';
      })
      .catch((err) => {
        this.error=err.response.data
        this.$refs.username.focus();
        }
      )
    }
  }
};
</script>
