<template>
    <v-container>
        <v-layout>
            <v-flex v-if="user">
                <p><br></p>
                <h1 :title="user.permissions">User {{user.username}}</h1>
                <v-text-field
                    v-model="url"
                    label="destination url">
                </v-text-field>
                <v-select
                    v-model="method"
                    :items="methods">
                </v-select>
                 <v-textarea
                    v-model="cmd"
                    label="rest payload, json formatted">
                </v-textarea>
                <v-btn @click="exec">
                    execute
                </v-btn>
               <v-textarea
                   v-model="res"
                   label="execution result"
                   :error-messages="err"
                   :success-messages="suc"
                   >
               </v-textarea>
            </v-flex>
            <v-flex v-else>
                <nuxt-link to="/login?ret=/mongo">Login first</nuxt-link>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>

export default {
    middleware: [ 'auth' ],  // this page requires authenticated user
    data() {
        return {
            user: this.$store.state.user,
            cmd: '{}',
            res: '',
            url: '/api/db/articles',
            methods: ['get','post','put','delete'],
            method: 'get',
            err: [],
            suc: [],
        }
    },
    methods: {
        async exec() {
            let data = JSON.parse(this.cmd)
            try {
                this.res = `${this.method} to ${this.url}`;
                this.$axios( {
                    method: this.method,
                    url: this.url,
                    data: data,
                    crossdomain: true,
                }).then( ret => {
                    this.res = JSON.stringify(ret.data)
                    this.err=[]
                    this.suc=[ret.status]
                }).catch( err => {
                    this.suc=[]
                    this.err = [ err.toString() ]
                    this.res =  JSON.stringify(err.response.data)
                    console.log(err.response)
                })
            } catch(err) {
                this.suc=[]
                this.err = [ err.toString() ]
                this.res = ''
            }
        }
    },
}
</script>
