<template>
    <v-container>
        <v-layout>
            <v-flex xs12>
                <viplist></viplist>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import viplist from '../components/vip'
export default {
    components: {viplist},
    middleware: ['auth']
}
</script>
