<template>
  <div>
    <v-tabs v-model="kam" fixed-tabs>
      <v-tab tab="1">Na naslov</v-tab>
      <v-tab tab="2">Anonimen nakup</v-tab>
    </v-tabs>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data() {
    return {
      kam: this.value
    }
  },
  watch: {
    kam(newValue, oldValue) {
      this.$emit('kam',newValue)
    }
  },
}
</script>

