<template>
  <div>
    <GmapMap
      :center="center"
      :zoom="13"
      map-type-id="terrain"
      class="gmap"
      @click="mapclicked"
    >
  <GmapMarker
    :key="index"
    v-for="(m, index) in markers"
    :position="m.position"
    :clickable="true"
    :draggable="false"
    :label="m.location.price"
    @click="selectlocation(m.location)"
    @mouseover="showprice(m.location)"
  />
    </GmapMap>
  </div>
</template>
<script>
export default {
  data() {
    return {
      center: {lat: 46.06921125602757, lng: 14.542475938796997  },
      mapTypeId: 'terrain',
      markers: [
        { position: { lat: 46.06921125602757, lng: 14.542475938796997 }, location: { name:'Petrol Šmartinska', logist:'Petrol', price:'€1' }},
        { position: {lat: 46.066151873157885, lng: 14.531210660934448}, location: { name:'Petrol Žale',logist:'Petrol', price:'€1' }},
        { position: {lat: 46.06636774758227, lng: 14.543817043304443}, location: { name:'Mimovrste', logist:'Mimovrste', price:'€0'  }},
      ]
    }
  },
  methods: {
      selectlocation(location) {
          console.log('sel',location)
      },
      showprice(location) {
          console.log('price',location)
      },
      mapclicked(evt) {
          let pos = { lat:evt.latLng.lat(),lng:evt.latLng.lng()}
          console.log(pos)
      }
  },
  mounted() {
      let self=this;
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            }
            self.center=pos;
            console.log('POS',pos)
            },
            function() {
            console.log('error getting location')
            }
        )
        }
  }
}
</script>
<style>
.gmap {
  height: 450px;
  width: 100%;
}
</style>