<template>
    <div>
        <br>
        <br>
        <v-checkbox v-if="false " label="želite sami izbrai dostavno službo?"></v-checkbox>
        <v-select v-model="logist" label="Želite sami izbrati dostavno službo?" :items="logisti" item-text="name">
            <template slot="item" slot-scope="data">
                {{data.item.name}}  -  doplačilo €{{data.item.price}}
            </template>
        </v-select>

    </div>
</template>
<script>
export default {
    data() {
        return {
            logist: 0,
            logisti: [
                { name: "Pošta Slovenije", price: 1 },
                { name: "DHL", price: 2 },
                { name: "GLS", price: 0 },
            ]
        }
    },
}
</script>

