<template>
    <div>
        <googlemap></googlemap>
    </div>
</template>
<script>
import googlemap from '../../components/fpc/googlemap'
export default {
    components: {
        googlemap
    }
}
</script>
