<template>
    <v-layout row wrap>
        <v-flex xs12>
            <v-select v-model="naslov.drzava" :items='countries' label="država"></v-select>
        </v-flex>
        <v-flex xs12 sm2>
            <v-combobox v-model="naslov.pst" label="poštna št." :items="poste" item-text="q" item-value="postnastevilka" v-on:input="onposta()">
                <template slot="item" slot-scope="data">
                    {{data.item.postnastevilka}} - {{data.item.ime}}
                </template>
            </v-combobox>
        </v-flex>
        <v-flex xs12 sm5>
            <v-text-field v-model="naslov.posta" label="pošta"></v-text-field>
        </v-flex>
        <v-flex xs12 sm5>
            <v-combobox v-model="naslov.naselje" label="naselje" :items="calcnaselja"></v-combobox>
        </v-flex>
        <v-flex xs12 sm10>
            <v-combobox v-model="naslov.ulica" label="ulica" :items="calculice"></v-combobox>
        </v-flex>
        <v-flex xs12 sm2>
            <v-text-field v-model="naslov.hs" label="hišna številka" v-on:change="$emit('ok',!!naslov.hs)"></v-text-field>
        </v-flex> 
    </v-layout>
</template>
<script>
let allcountries = require('../../code/countires.js');
let rte = require('../../code/rte.js');
export default {
    data() {
        return {
            naslov: {
                ulica: '',
                hs: '',
                naselje: '',
                pst: '',
                posta: '',
                drzava: 'Slovenija',
            },
            postaid: 0,
            naseljeid: 0,
            countries: allcountries.map(c=>c.name),
            naselja: rte.naselja.map(n=>n.ime),
            ulice: rte.ulice.map(u=>u.ime),
            poste: rte.poste.map(p => { return { ime:p.ime, postnastevilka:p.postnastevilka, q:p.ime+' '+p.postnastevilka }}),        
        };
    },
    methods: {
        onposta() {   
            if (typeof this.naslov.pst==='object')  { 
                this.postaid = this.naslov.pst.id
                this.naslov.posta = this.naslov.pst.ime
                this.naslov.pst = this.naslov.pst.postnastevilka
                let naselje = rte.naselja.find( n => n.postaid==this.postaid && n.ime==this.naslov.posta)
                if (naselje) { 
                    this.naseljeid=naselje.id
                }                                    
            }
        }, 
        fposte: (item, queryText, itemText) => itemText.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1,
    },
    computed: {
        calcnaselja() {
            if (this.postaid && this.naslov.posta && (typeof this.naslov.posta==='string')) {
                return rte.naselja.filter( n => n.postaid==this.postaid).map(n=>n.ime);
            } else {
                return this.naselja;
            }
        },
        calculice() {
            if (this.naseljeid) {
                return rte.ulice.filter( u => u.naseljeid==this.naseljeid).map(n=>n.ime);
            } else {
                return rte.ulice.map(u=>u.ime)
            }
        },
        naslovok() {
            let ret = this.naslov.ulica &&
                this.naslov.pst &&
                this.naslov.posta &&
                this.naslov.hs;
            return ret;
        }
    },
    watch: {
        naslovok(newValue, oldValue) {
            if (newValue!=oldValue) this.$emit('ok',newValue)
        }
    },
}
</script>

