<template>
  <div>
    <v-stepper non-linear v-model="currstep">
      <v-stepper-header>
        <v-stepper-step editable step="1">Nakup</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step editable step="2">Način dostave</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step editable step="3">Plačilo</v-stepper-step>
      </v-stepper-header>
    </v-stepper>
  </div>
</template>
<script>
export default {
    props: ['step'],
    data() {
        return {
            currstep: this.step
        }
    },
    watch: {
        currstep(newValue, oldValue) {
            this.$emit('step',newValue)
        }
    },
}
</script>
